# Unity generated
Library/
Temp/
Obj/
obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
.utmp/
*_BurstDebugInformation_DoNotShip/
*.aab
*.apk

# Asset meta backups
*.tmp
*.orig
*.user

# Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Crashlytics
crashlytics-build.properties
