<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Google Play Billing (Unity IAP / com.android.billingclient) -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <!--Application Entry của project này là "Activity" (androidApplicationEntry: 1).
            Nếu đổi sang GameActivity trong Player Settings thì phải thay activity bên dưới
            bằng com.unity3d.player.UnityPlayerGameActivity với theme BaseUnityGameActivityTheme.-->
        <activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:theme="@style/UnityThemeSelector"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
    </application>
</manifest>
